@media (max-width: 767px) {
    body {
        flex-direction: column;
        justify-content: safe center;
        align-items: center;
        padding: 10px
        }
    .container {
        max-width: 90%;
        height: auto;
        padding: 10px
        }
    .button {
        padding: 10px 15px;
        font-size: 16px;
        width: 90%
        }
    .image-container img {
        max-height: 512px;
        max-width: 512px
        }
    .text-container {
        max-height: 600px;
        min-height: 450px;
        padding: 5px
        }
    .controls input[type="text"] {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        font-size: 14px
        }
    }