<div class="container" id="settings" style="display: none;">
    <h2 id="settingTitle"></h2>
    <div class="settingsContainer" id="settingsContainer">
        <label for="api-key" id="settingApiKeyLabel"></label>
        <input type="password" class="settings-input" id="api-key" placeholder="输入你的API Key">
        <label for="api-url" id="settingApiUrlLabel"></label>
        <input type="text" class="settings-input" id="api-url" placeholder="输入你的API URL" value="https://llm.tobenot.top/api/v1/">
        <label id="settingAdvancedModelLabel">进阶模型 (用于桥段总结)</label>
        <select class="settings-input" id="advanced-model-select" disabled>
            <option value="gpt-4o-mini">gpt-4o-mini</option>
        </select>
        <label id="settingBasicModelLabel">基本模型 (用于其他操作)</label>
        <select class="settings-input" id="basic-model-select" disabled>
            <option value="gpt-4o-mini">gpt-4o-mini</option>
        </select>
        <div class="button-container">
            <button class="button" id="settingWhatIsThisButton" onclick="showHelp()"></button>
            <button class="button" id="settingSaveButton" onclick="saveSettings()"></button>
            <button class="button" id="settingPublicKeyButton" onclick="getPublicKey()"></button>
            <button class="button" id="settingResetSettingsButton" onclick="resetSettings()"></button>
            <button class="button" id="settingExitButton" onclick="hideSettings()"></button>
        </div>
        <p id="trialStatus"></p>
        <p id="downloadStatus"></p>
    </div>
</div>